@page
@model MovieDB.UI.Pages.MovieModel
@{
}



@if (Model.Movie == null)
{


    <h1>No Movie</h1>
    <a asp-page="./Movies">Back to Movies</a>
}
else
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.Movie.ImgUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Movie.Title</h5>
            <h6 class="card-title">@Model.Movie.Genre</h6>
            <p class="card-text">@Model.Movie.Synopsis <span>...</span></p>
            <a asp-page="/Movies" class="btn btn-primary">Back To Index</a>
        </div>
    </div>
}

